<%- include('../partials/header.ejs')%>
    <div class="container-fluid p-0 min-vh-100 " style="margin-top: 7%;">
        <%- include('../partials/adminnav.ejs')%>
            <div class="container f-flex align-items-center justify-content-center">
                <div class="row p-4 gap-3 d-flex justify-content-center">
                    <div class="DashBoardUl container col-md-2 p-0 m-0 bg-white d-flex pt-4 sideBar">
                        <ul class="d-flex flex-column">
                            <li class="dashOther fw-bold p-1 m-2 ps-4 ">
                                <img src="/assets/admin/d1.png" alt="" class="img-fluid me-2">
                                <span><a class="text-decoration-none" style="color: #cdcdcd;"
                                        href="/admin/Dashboard">DashBoard</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d3.png" alt="" class="img-fluid me-2">
                                <span><a href="/admin/catagory" class="text-decoration-none"
                                        style="color: #cdcdcd;">Category</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/productView" class="text-decoration-none"
                                    style="color: #cdcdcd;">Product</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d4.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/coustomers" class="text-decoration-none"
                                    style="color:  #cdcdcd;">Coustomer</a></span>
                            </li>
                            <li class="sideBarlist   p-1 ps-4 m-2">
                                <img src="/assets/admin/d5.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/order" class="text-decoration-none"
                                    style="color: white;">Order</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="/admin/" class="text-decoration-none" style="color: #cdcdcd;">Coupons</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d2.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="#" class="text-decoration-none" style="color: #cdcdcd;">Banner</a></span>
                            </li>
                            <li class="dashOther fw-bold p-1 ps-4 m-2">
                                <img src="/assets/admin/d6.png" alt="" class="img-fluid me-2">
                                <span></span>
                                <a href="" class="text-decoration-none" style="color: #cdcdcd;">Logout</a></span>
                            </li>
                        </ul>
                    </div>
                    <div class=" container col-md-9  p-0 m-0">
                        <div class="container p-0">
                            <div class="conatiner saleTop bg-white d-flex align-items-center mb-3">
                                <div class="container summary d-flex align-items-center justify-content-between p-4 "
                                    id="product">
                                    <h6 class="p-3 ps-4">Coustomers</h6>
                                    <input type="text" placeholder="User Name, Email, Phone" class="text-center">
                                </div>
                            </div>
                            <div class="container Pa_table bg-white p-2">
                                <div class="container bg-white P_table">
                                    <div class="container p-3 ">
                                        <table class="table">
                                            <thead id="tableHeader">
                                                <tr>
                                                    <th scope="col">OrderId</th>
                                                    <th scope="col">Product</th>
                                                    <th scope="col">User</th>
                                                    <!-- <th scope="col">Address</th> -->
                                                    <th scope="col">Phone</th>
                                                    <th scope="col">Ststus</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <th scope="row">
                                                             <span>#1</span>
                                                        </th>
                                                        <td scope="col" class="tablefont">
                                                            <h6>
                                                                <img src="/assets/product/4.jpg" alt="" class="img-fluid" width="100px"
                                                                style="border-radius: 5px;">
                                                            </h6>
                                                        </td>
                                                        <td scope="col">
                                                            <span>
                                                                Manu M
                                                            </span>
                                                        </td>
                                                        <td scope="col">
                                                            <span>
                                                                7356924029
                                                            </span>
                                                        </td>
                                                        <td scope="col" class="TableButton">
                                                            <select name="" id="">
                                                                <option value="">Processing</option>
                                                                <option value="">Shipped</option>
                                                                <option value="">Out For Delivery</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

    <script src="/js/alert.js"></script>

    <%- include('../partials/adminfooter.ejs')%>