<%- include("../partials/header.ejs")%>
    <nav class="navbar navbar-expand-lg navbar-light shadow bg-light" style="z-index:10;">
        <div class="container ">
            <a class="navbar-brand fw-bold" href="/"><img src="/assets/nav/Asthra.png" alt="" class="img-fluid"
                    width="170"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Shop">Shop</a>
                    </li>
                    <%if(user){%>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">logOut</a>
                        </li>
                        <%}else{%>
                            <li class="nav-item"></li>
                            <a class="nav-link" href="/login">login</a>
                            </li>
                        <%}%>
                </ul>
                <div class="Nav_icon d-flex gap-4 justify-content-cneter align-items-center">
                    <div style="position: relative;">
                        <input class="search p-3" type="search" placeholder="What you looking for?" aria-label="Search"
                            id="searchInput">
                    </div>
                    <% if(user) {%>
                        <a href="/WhishList" class="link-dark text-center" style="position: relative;">
                            <i class="fa-regular fa-heart"></i>
                            <span id=""
                                class="badge badge-pill bg-danger d-flex justify-content-center align-items-center p-1"
                                style="border-radius: 50%; position: absolute; top: -5px; right: -10px; width: 18px; height: 18px;font-size: 9px;">
                                0
                            </span>
                        </a>
                        <a href="/cart" class="link-dark text-center" style="position: relative;">
                            <i class="fa-solid fa-cart-shopping "></i>
                            <% if(locals.cartCount){%>
                                <span id="cartItemCount"
                                    class="badge badge-pill bg-danger d-flex justify-content-center align-items-center p-1"
                                    style="border-radius: 50%; position: absolute; top: -5px; right: -10px; width: 18px; height: 18px;font-size: 9px;">
                                    <%=locals.cartCount%>
                                </span>
                            <%}else{%>
                                <span id="cartItemCount"
                                    class="badge badge-pill bg-danger d-flex justify-content-center align-items-center p-1"
                                    style="border-radius: 50%; position: absolute; top: -5px; right: -10px; width: 18px; height: 18px;font-size: 9px;">
                                    0
                                </span>
                            <%}%>
                        </a>
                        <%}else{%>
                            <a href="/WhishList" class="link-dark text-center"> <i class="fa-regular fa-heart"></i></a> 
                            <a href="/cart" class="link-dark text-center"><i class="fa-solid fa-cart-shopping "></i></a>
                            <%}%>
                            <div class="d-flex flex-column align-items-center">
                                <% if(user) {%>
                                    <div class="iconP ">
                                        <a href="/profile"> 
                                            <img src="/assets/admin/propic.webp" alt=""class="img-fluid">
                                        </a>
                                     </div>
                                <%}else{%>
                                    <div class="iconP ">
                                          <a href="/profile">
                                            <i class="fa-regular fa-user text-dark"></i>
                                          </a>
                                    </div>
                                 <%}%>
                                <span class="text-danger fw-bold "> <%= locals.user?user:"" %></span>
                            </div>
                    </form>
                </div>
            </div>
    </nav>
    <!-- Search input -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const searchInput = document.getElementById('searchInput');
            const placeholder = searchInput.placeholder;
            searchInput.addEventListener('keypress', (event) => {
                if (event.key === 'Enter') {
                    const searchQuery = searchInput.value;
                    $.ajax({
                        type: 'get',
                        url: '/search',
                        data: { q: searchQuery },
                        success: (data) => {
                            console.log(data)
                            if (data.length > 0) {
                                UIupdate(data)
                            } else {
                                searchInput.placeholder = "No Product Found";
                            }
                        },
                        error: (error) => {
                            console.log(`Error while performing search: ${error}`);
                        }
                    });
                }
            });
        });

    </script>