<%- include('../partials/header.ejs') %>
    <div class="container-fluid p-0 min-vh-100" style="margin-top: 6%;">
        <%-include('../partials/navbar.ejs') %>
            <div class="container ">
                <div class="row p-4">
                    <div class="p-2 px-4">
                        <h4 class="fw-bold">Shopping Cart</h4>
                    </div>
                    <div class="container p-3 m-0">
                        <div class="Cart_list bg-white p-4">
                            <table>
                                <tr class="cart_table">
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>    
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="container p-3 mt-3">

                    </div>
                </div>
            </div>
    </div>
    <%-include('../partials/footer.ejs') %>