<%- include('../partials/header.ejs')%>
    <div class="container-fluid p-0 justify-content-center align-items-center signUp min-vh-100"
        style="margin-top: 6%;">
        <%- include("../partials/navBar.ejs")%>
            <div class="container d-flex justify-content-center align-items-center">
                <div
                    class="container col-lg-4 d-flex flex-column justify-content-center align-items-center rounded-5 p-5 bg-white CardOTP">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="/assets/nav/tck.png" alt="" class="img-fluid imgOTP">
                    </div>
                    <div class="mt-2 d-flex flex-column align-items-center">
                        <span>Enter Your Registered Phone Number</span>
                        <div class="text-danger fw-bold" id="notification"><%=locals.msg? msg:" "%></div>
                    </div>
                    <form id="formSubmition" action="/numberValidation" method="post" onsubmit="return fullyChecking()"
                        style="width:100% " class="mt-3">
                        <div class=" credntials d-flex flex-column align-items-center justify-content-center gap-2"
                            style="width: 100%;">
                            <input class="signInput" type="text" placeholder="Phone" name="number" id="number"
                                onchange="numberChecking()" required>
                            <span id="Number" class="text text-danger"></span>
                            <button class="btn btn-danger" style="font-size: 13px;">
                                Send Otp
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    <script src="/js/validation.js"></script>
    <%- include('../partials/footer.ejs')%>