<%- include("../partials/header.ejs")%>
   <div class="container-fluid p-0 justify-content-center align-items-center signUp min-vh-100" style="margin-top: 6%;">
      <!-- Nav Bar -->
      <%- include("../partials/navBar.ejs")%>
         <div class="container d-flex justify-content-center align-items-center p-5">
            <div class="row rounded-5 p-3 bg-white Card">
               <!-- Card Image -->
               <div class="right col-md-6 p-2">
                  <img src="/assets/nav/2.png" alt="" class="img-fluid rounded-2">
               </div>
               <div class="left col-md-6 d-flex flex-column justify-content-center">
                  <div class="heading">
                     <h2>Log in to Exclusive</h2>
                     <span>Enter your details</span>
                     <div class="text text-danger fw-bold mt-3" style="font-size: 14px;">
                        <%=locals.fail? fail:""%>
                     </div>
                  </div>
                  <form action="/login" method="post" onsubmit="return fullyChecking()">
                     <div class="credntials mt-4 d-flex flex-column gap-2 loginButton">
                        <!-- Email -->
                        <input class="loginInput p-1 " type="text" placeholder="Email " name="email" id="Email"
                           onchange="emailValidate()" required>
                        <span id="emailError" class="text text-danger fw-bold mb-2"></span>
                        <!-- password -->
                        <input class="loginInput p-1" type="password" placeholder="Password" name="password"
                           id="Password" onchange="passwordValidate()" required>
                        <span id="passwordError" class="text text-danger fw-bold mb-2"></span>
                        <div class="d-flex mt-2 gap-5 align-items-center ">
                           <button class="btn text-white col-lg-6" type="submit"
                              onclick="emailValidate(),passwordValidate()">Login</button>
                           <a href="/forGotPassword" class="text-decoration-none"><span class="text-danger col-lg-6 ps-5">Forgot Password?</span></a>
                        </div>
                        <span>Don’t you have a account ? <a class="text-danger text-decoration-none"
                              href="/signUp">SignUp</a>
                        </span>
                     </div>
                  </form>
               </div>
            </div>
         </div>
   </div>
   <script src="/js/validation.js"></script>
   <%- include("../partials/footer.ejs")%>