<%- include('../partials/header.ejs')%>
    <div class="container-fluid p-0 justify-content-center align-items-center signUp min-vh-100"
        style="margin-top: 6%;">
        <%- include("../partials/navBar.ejs")%>
            <div class="container d-flex justify-content-center align-items-center">
                <div
                    class="container col-lg-4 d-flex flex-column justify-content-center align-items-center rounded-5 p-5 bg-white CardOTP">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="/assets/nav/tck.png" alt="" class="img-fluid imgOTP">
                    </div>
                    <div class="mt-2 d-flex flex-column align-items-center">
                        <span>Reset your Password here</span>
                        <div class="text-danger fw-bold" id="notification"></div>
                    </div>
                    <form id="formSubmition" action="/newPassword" method="post" onsubmit="return fullyChecking()"
                        style="width:100% " class="mt-4">
                        <div class=" credntials d-flex flex-column align-items-center justify-content-center gap-2"
                            style="width: 100%;">
                            <!-- PASSWORD -->
                            <div class="d-flex"  style="width: 100%;">
                                <input class="signInput" type="password" placeholder="Password" name="password"
                                    id="password" onchange="passwordChecking()" required>
                                <span class="password-toggle" onclick="togglePasswordVisibility('password')">
                                    <i class="far fa-eye"></i>
                                </span>
                            </div>
                            <span id="Password" class="text text-danger"></span>
                            <!-- CONFIRM PASSWORD -->
                            <input class="signInput" type="password" placeholder="Confirm Password"
                                name="confirmPassword" id="confirmPassword" onchange="confirmPasswordChecking()"
                                required>
                            <span id="ConfirmPassword" class="text text-danger"></span>
                            <button class="btn btn-Success" style="font-size: 13px;">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    <script src="/js/validation.js"></script>
    <%- include('../partials/footer.ejs')%>