<%- include('../partials/header.ejs')%>
    <div class="container-fluid p-0 justify-content-center align-items-center signUp min-vh-100" style="margin-top: 6%;">
        <%- include("../partials/navBar.ejs")%>
            <div class="container d-flex justify-content-center align-items-center">
                <div class="container col-lg-4 d-flex flex-column justify-content-center align-items-center rounded-5 p-5 bg-white CardOTP">
                    <div class="d-flex align-items-center justify-content-center m-3">
                        <!-- <img src="/assets/nav/succ.png" alt="" class="img-fluid imgOTP"> -->
                        <lottie-player src="https://assets1.lottiefiles.com/temp/lf20_MqU2rh.json"
                            background="transparent" speed="1" style="width: 100px; height: 100px; cursor: pointer;" hover
                            autoplay></lottie-player>
                    </div>
                    <span><%=locals.succ? succ:"" %></span>
                    <div class="OTPtext mt-2">
                        <a class="text-success text-decoration-none"href="/login">Click Here</a> 
                    </div>
                </div>
            </div>
    </div>

    <%- include('../partials/footer.ejs')%>