:root {
  --primaryText: #9a9a9a;
  --primaryBg: #db4444;
  --primary-dark: #a6a6a6;
  --primaryBgColllor: rgba(243, 241, 241, 1);
  --primaryFontSize: 13px;
}

body {
  background-color: rgba(243, 241, 241, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Sroll bar css */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #5d5d5d;
  }
}
/* ------------------NAV------------- */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f3f1f1;
}
@media (min-width: 1200px) {
  .navbar {
    height: 100px;
  }
}
.search {
  width: 243px;
  height: 38px;
  background: #ffffff;
  border: none;
  border-radius: 7px;
}
.search:focus {
  outline: none;
}
.iconP {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
.Nav_icon i {
  cursor: pointer;
}

.Nav_icon button {
  border-radius: 50%;
}

/* ----------LOGIN----------------- */
.signUp {
  background-image: url("./assets/nav/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: aqua;
}

.Card {
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-top: 50px;
}

.credntials input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #8e8e8e;
  width: 100%;
}

.credntials input:focus {
  outline: none;
}
.loginButton button {
  background-color: var(--primaryBg);
  border-radius: 35px;
  width: 130px;
  height: 36px;
}
.loginInput {
  font-size: 14px;
  color: var(--primaryText);
}
.loginButton span {
  color: var(--primaryText);
  font-size: 14px;
}

/* $-----------SIGHN UP----------------$ */
.CardSignup {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin: 8%;
}
.signUpForm input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #8e8e8e;
  width: 90%;
}

.signUpForm input:focus {
  outline: none;
}

.signUpForm button {
  color: var(--primaryText);
  font-size: 14px;
  width: 90%;
  height: 44px;
}
.left form{
  width: 100%;
}
/* --------OTP------------- */
.CardOTP {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-top: 10%;
}

.imgOTP {
  width: 70px;
}

.CardOTP span {
  font-size: 18px;
  font-weight: 500;
  color: var(--primaryText);
}

.code {
  border-radius: 12px;
  border: 2px solid #8e8585;
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 10px;
  text-align: center;
  font-weight: 300;
}
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.CardOTP button {
  background-color: var(--primaryBg);
  width: 50%;
  border-radius: 35px;
}
.OTPtext {
  color: var(--primaryText);
}

/* ----------HOME----------- */
.CarouselImage {
  width: 100%;
  max-height: 480px;
}
.bannerImage {
  width: 100%;
  max-height: 400px;
  border-radius: 30px;
}
.imageOne {
  position: relative;
}
/* banner media */
@media (min-width: 1201px) {
  .CarouselImage{
    border-radius: 25px;
  }
  .textCard{
    max-width: 600px;
    max-height: 250px;
    margin-left: 15%;
  }
  .textCard h4{
    font-size: 60px;
    font-weight: lighter;
  }
  .textCard h1{
    font-size: 65px;
  }
  .textCard button{
    width: 50%;
    border-radius: 14px;
    font-size: 13px;
    padding: 12px;
    margin-top: 1rem;
  }
}
@media (max-width: 1200px) {
  .CarouselImage{
    border-radius: 20px;
  }
  .carousel-inner{
    margin-top: 130px;
  }
  .textCard{
    max-width: 350px;
    max-height: 100px;
    margin-left: 15%;
  }
  .textCard h4{
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .textCard h1{
    font-size: 40px;
    margin-bottom: 10px;
  }
  .textCard span{
    margin-bottom: 5px;
  }
  .textCard button{
    width: 80%;
    border-radius: 14px;
    font-size: 13px;
    padding: 10px;
  }

}
@media (max-width: 768px) {
  .textCard{
    max-width: 250px;
    max-height: 80px;
    margin-left: 15%;
  }
  .textCard h4{
     font-size:25px;
  }
  .textCard h1{
    font-size: 30px;
    font-weight: 400;
  }
  .textCard span{
    font-size: 10px;
  }
  .textCard button{
    width: 50%;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
  }
}
@media (max-width: 574px) {
  .CarouselImage{
    border-radius: 20px;
  }
  .textCard{
    max-width: 200px;
    max-height: 50px;
    margin-left: 15%;
  }
  .textCard h4{
     font-size:15px;
     margin-bottom: 2px;
  }
  .textCard h1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .textCard span{
    font-size: 8px;
  }
  .textCard button{
    width: 50%;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
  }
}
@media (max-width: 420px) {
  .CarouselImage{
    border-radius: 30px;
  }
  .textCard{
    max-width: 150px;
    max-height: 50px;
    margin-left: 15%;
  }
  .textCard h4{
     font-size:12px;
    margin-bottom: 2px;
  }
  .textCard h1{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2px;
  }
  .textCard span{
    font-size: 5px;
    margin-bottom: 1px;
  }
  .textCard button{
    width: 30%;
    border-radius: 5px;
    font-size: 5px;
    padding: 2px;
  }
}


.imageOne .text {
  position: absolute;
}
.whishlistCard {
  background-color: #ffb155;
  height: 47px;
  border-radius: 0px 0px 14px 14px;
  cursor: pointer;
}
.ProductCard-wish{
  border-radius: 14px;
  box-shadow: 2px 2px 4px 0px #00000040;
}
/* product text managing */
.ProductCard {
  border-radius: 14px;
  width: 280px;
  height: 420px;
  position: relative;
  box-shadow: 2px 2px 4px 0px #00000040;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ProductCard span {
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardImage img {
  border-radius: 10px;
  margin-top: 15px;
  width: 240px;
  height: 310px;
}
.price span {
  text-decoration: line-through;
  color: var(--primaryText);
}
.value {
  color: var(--primaryText);
}

.productviewButton {
  min-width: 150px;
  min-height: 50px;
  padding: 5px;
  border: none;
  border-radius: 35px;
  background-color: var(--primaryBg);
  color: white;
}

.serviceCard {
  background: linear-gradient(
    95.16deg,
    #ffffff 0%,
    rgba(255, 225, 181, 0.499) 103.65%
  );

  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

/* PRODUCT STYLE */
/* PRODUCTS */
.product {
  height: 500px;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.product-container {
  height: 500px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 300px;
  height: 480px;
  margin-right: 40px;
  background-color: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 2px 2px 4px 0px #00000040;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 14px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: rgba(219, 68, 68, 1), rgba(223, 76, 76, 1);
  background: linear-gradient(
    101deg,
    #db4444 0%,
    rgba(223.12, 75.68, 75.68, 0.84) 100%
  );
  padding: 5px;
  border-radius: 5px;
  color: #ffffff;
  right: 10px;
  top: 10px;
  font-size: 13px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #db4444;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  font-size: 14px;
  font-weight: 500;
}

.price {
  font-weight: 600;
  font-size: 18px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* -----ADMIN--------- */

/*admin signup */
.adminCard {
  width: 70%;
  height: 50%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin: 8%;
  border-radius: 14px;
}

.adminCard .right img {
  max-width: 300px;
}

/* ------dashboard------- */
/* admin_nav */
.admin_search {
  width: 500px;
  height: 38px;
  background: #ffffff;
  border: none;
  border-radius: 7px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  font-size: 10px;
}
.iconPA {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryBg);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.admin_search:focus {
  outline: none;
}
.admin_search::placeholder {
  color: #c3c3c3;
  text-align: center;
}

@media (max-width: 600px) {
  .admin_search {
    width: 250px;
  }
}
/* admindashboard */
.DashBoardUl ul {
  list-style-type: none;
}

/* sideBar */
.DashBoardUl {
  border-radius: 14px;
  width: 250px;
}
@media (max-width: 1200px) {
  .DashBoardUl {
    width: 100%;
  }
}
.sideBarlist {
  position: relative;
  width: 180px;
  height: 40px;
  background: #db4444;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.sideBarlist img {
  width: 20px;
}
.dashOther img {
  width: 20px;
  cursor: pointer;
}
.dashOther a:hover {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.dashOther {
  font-size: 14px;
  color: #cdcdcd;
}

@media (max-width: 1200) {
  .sideBarlist {
    width: 100%;
  }
}

/* dashBoard */

.saleTop {
  border-radius: 14px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.SaleBox-one {
  width: 148px;
  height: 200px;
  position: relative;
  background: #ffe2e6;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  margin-bottom: 10px;
}
.SaleBox-one img {
  width: 50px;
}
.SaleBox-one h2 {
  font-size: 30px;
  font-weight: 800;
}
.SaleBox-one h6 {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  color: #8e8585;
}
#two {
  background: rgba(255, 244, 222, 1);
}
#three {
  background: #dcfce7;
}
#four {
  background: #f4e8ff;
}
.summary h6 {
  font-weight: bold;
  font-size: 20px;
}
.btnYear {
  outline: none;
  border: none;
  width: 80px;
  height: 30px;
  font-size: 12px;
  background: #f3f1f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding-left: 10px;
  padding-left: 10px;
  color: #a7a7a7;
}

.graphSummary {
  border-radius: 14px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

/* ----------PRODUCTS------------ */
#product input {
  width: 80%;
  height: 38px;
  background: #f4f4f4;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#product input:focus {
  outline: none;
}

#product input::placeholder {
  color: #c3c3c3;
}

/* table */

.P_table {
  border-radius: 14px;
  max-height: 400px;
  overflow-y: scroll;
}

.Pa_table {
  border-radius: 14px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 500px;
  max-height: 500px;
}
.tablefont h6 {
  font-weight: 500;
}
.TablePCount {
  border-radius: 9px;
  border: 2px solid #8e8585;
  font-size: 15px;
  width: 50px;
  height: 40px;
  margin: 10px;
  font-weight: 400;
}

.caption span {
  font-size: 14px;
  color: #a7a7a7;
}

.TableButton button {
  font-size: 14px;
  padding-bottom: 1rem;
  width: 70px;
  height: 30px;
  border-radius: 5px;
}
.addbutton {
  width: 25%;
  height: 10%px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  font-size: 12px;
  font-weight: 500;
}
.t_Image img {
  border-radius: 8px;
}

/* ---------PRODUCT Add ----------------- */
.p_addingWrapper {
  border-radius: 14px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.p_addingWrapper form input,
select {
  background: #f3f1f1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;
}
.p_addingWrapper form input,
select:focus {
  outline: none;
}
.p_addingWrapper form textarea {
  background: #f3f1f1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
}

.p_addingWrapper form label {
  font-size: 12px;
  color: #8e8e8e;
  font-weight: 500;
}

.productAddButton {
  width: 20%;
  height: 33px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  font-size: 12px;
  font-weight: 500;
}

/* ---------------CATEGORY--------------- */
/* Addcategory */
.textWrapper {
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background: #f3f1f1;
  border-radius: 4px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.textWrapper:focus {
  outline: none;
}

.categoryDis input {
  height: 120px;
}

.catagoryEdit {
  font-size: 14px;
  padding-bottom: 1rem;
  width: 70px;
  height: 30px;
  border-radius: 5px;
}

/* -------------USER PRODUCT VIEW -------- */

.product_img,
.product_text {
  width: 30%;
}
.p_sideimage {
  width: 10%;
}
.p_sideimage img {
  width: 110px;
  height: 125px;
  padding: 5px;
  border-radius: 14px;
}
.product_img img {
  width: 400px;
  height: 500px;
  border-radius: 14px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.P_sideText span {
  font-size: 22px;
}
.p_line {
  background-color: #202020;
}

/* newProduct */

.smal-img-col {
  cursor: pointer;
}

.smal-img-col img {
  border-radius: 10px;
}

.text-Description {
  font-weight: 450;
}
.p_Cart_Buy form button {
  border-radius: 30px;
}

.mian-img img {
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 770px) {
  .left {
    flex-direction: column;
  }
}

.p_Delivery_Border {
  border-radius: 10px;
}

@media (max-width: 767px) {
  .left {
    flex-direction: column;
  }
  .left .smal-img-col {
    scroll-snap-align: start;
    margin-right: 10px;
  }

  .left .smal-img-col:last-child {
    margin-right: 0;
  }

  .mian-img {
    margin-top: 20px;
  }

  .p_Cart_Buy {
    flex-direction: column;
  }

  .p_Cart_Buy form {
    width: 100%;
    margin-bottom: 10px;
  }

  .ProductCard {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .left {
    align-items: flex-start;
  }

  .mian-img {
    margin-left: 20px;
  }
}

/* ---------zoom css------- */
#lens {
  position: absolute;
  border: 2px solid grey;
  border-radius: 20%;
  overflow: hidden;
  cursor: none;
  box-shadow: inset 0 0 10px 2px grey;
  filter: drop-shadow(0 0 2px grey);
}

#zoom img {
  max-width: 100%;
}

#lens > * {
  cursor: none;
}

/* --------------profile----------------- */
.profile_left {
  border-radius: 13px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.profile_left a {
  font-size: 13px;
  color: var(--primaryText);
  cursor: pointer;
}
.profile_left a:hover {
  color: var(--primaryBg);
}
.profile_Right {
  border-radius: 13px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.propic img {
  width: 15%;
  max-height: 120px;
  border-radius: 50%;
}
.propic p {
  font-size: 13.5px;
  color: #959595;
}
.propic span {
  font-size: 13.5px;
  color: #959595;
}

.profile_info {
  border-radius: 13px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  background: var(--primaryBgColllor);
}

.profile_form label {
  font-size: 13.5px;
  color: #373a47;
}
.profile_form input {
  background-color: #fffefe;
  border-radius: 5px;
  border: none;
  padding: 7px;
  padding-left: 10px;
}
.profile_form input::placeholder {
  font-size: 13.5px;
  color: #959595;
}
.profile_form input:focus {
  outline: none;
  font-size: 13px;
  background-color: #fffefe;
}
.profile_button button {
  width: 20%;
}

/* profileAddress */
.address_Form {
  border-radius: 13px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  background: var(--primaryBgColllor);
}
.address_Form form label {
  font-size: 13px;
  color: #939393;
}
.address_Form form input {
  background-color: #fffefe;
  border-radius: 5px;
  border: none;
  padding: 7px;
  padding-left: 10px;
}
.address_Form form input::placeholder {
  font-size: 13.5px;
  color: #959595;
}
.address_Form form input:focus {
  outline: none;
  font-size: 13px;
  background-color: #fffefe;
}
.address_Form button {
  width: 40%;
  border-radius: 14px;
  font-size: 13px;
}
.address_view button {
  width: 22%;
  border-radius: 14px;
  font-size: 13px;
}
.address_selecter {
  border-radius: 12px;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 100px;
}

.address_selecter p {
  font-size: 13.5px;
  color: #959595;
}
.address_Form input:focus {
  outline: none;
  font-size: 13px;
  background-color: #fffefe;
}

/* Billing details */
.billing_address {
  border-radius: 13px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}
.billing_address_view button {
  width: 30%;
  border-radius: 14px;
  font-size: 13px;
}
.billing_Form {
  border-radius: 13px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  background: var(--primaryBgColllor);
}
.billing_Form form label {
  font-size: 13px;
  color: #939393;
}
.billing_Form form input {
  background-color: #fffefe;
  border-radius: 5px;
  border: none;
  padding: 7px;
  padding-left: 10px;
}
.billing_Form form input::placeholder {
  font-size: 13.5px;
  color: #959595;
}
.billing_Form form input:focus {
  outline: none;
  font-size: 13px;
  background-color: #fffefe;
}

.billing_form {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 100px;
}
.billinf_form_Wrapper {
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  border-radius: 13px;
}
.billing_button button {
  width: 100%;
  border-radius: 14px;
  font-size: 13px;
}
.proSumWraper {
  border-radius: 13px;
  background: var(--primaryBgColllor);
}
.billing_img {
  border-radius: 13px;
  min-height: 205px;
  max-height: 205px;
  overflow: scroll;
  overflow-x: hidden;
}
.billing_Totall {
  border-radius: 10px;
}
.billing_radio input[type="radio"] {
  border: 0px;
  width: 10%;
  height: 1em;
}
.billing_coupon button {
  width: 50%;
  border-radius: 10px;
  font-size: 13.5px;
}

.billing_coupon input {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.billing_coupon input::placeholder {
  font-size: 13.5px;
  color: rgb(111, 111, 111);
}
.billing_coupon input:focus {
  outline: none;
  font-size: 13px;
  background-color: #fffefe;
}
.billing_bg {
  border-radius: 13px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
  background: var(--primaryBgColllor);
  max-height: 200px;
}

/* Style the modal and overlay */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 15% auto;
  background-color: var(--primaryBgColllor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  max-height: 400px;
}
.modalWrapper {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  width: 95%;
  max-height: 400px;
  overflow: hidden;
}
.modelWrapper2 {
  border-radius: 20px;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  width: 95%;
  max-height: 400px;
}
.modelWrapper2 ul {
  cursor: pointer;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ----------------Cart---------------- */
.Cart_list {
  border-radius: 14px;
  max-height: 350px;
  min-height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}
.Cart_list::-webkit-scrollbar {
  width: 0em; /* Adjust the width as needed */
}

.Cart_list::-webkit-scrollbar-track {
  background-color: transparent;
}

.Cart_list::-webkit-scrollbar-thumb {
  background-color: #888; /* Adjust the color as needed */
}

.Cart_table_wapper {
  border-radius: 14px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.cart_table {
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--primaryBgColllor);
  border-radius: 14px;
}
.cart_table tr {
  background: var(--primaryBgColllor);
  border-radius: 14px;
  width: 100%;
}
.cart_table th span {
  font-size: 15px;
  color: #959595;
}

.first {
  border-radius: 14px 0px 0px 14px;
  background: var(--primaryBgColllor);
}
.third {
  border-radius: 0px 14px 14px 0px;
}

.cart_Bill {
  width: 100%;
  height: 100%;
  left: 557px;
  top: 3px;
  background-image: url("/assets/bg/cartbg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}
.billing_Totall {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid #dcdcdc;
  backdrop-filter: blur(11px);
  border-radius: 8px;
  box-shadow: 0 20px 50px rgb(40, 113, 85, 0.4);
}
.billing_Totall h6 {
  font-size: 15px;
  padding-top: 5px;
  color: #000000;
}

/* CouponList */
.couponListFont {
  font-size: 13.5px;
}

/* Shop */
.SideFilter {
  min-width: 280px;
  max-height: 100vh;
  background: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.filterFont label {
  font-size: 13.5px;
}
.filterBox {
  width: 100%;
  height: 100px;
  background: #f4f4f4;
  border-bottom: 1px solid #c2b5b5;
  border-radius: 14px;
}
.filterCo {
  width: 270px;
}
.filterSlider {
  width: 100%;
  background: #f3f1f1;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

/* slider */
.Limit {
  width: 100px;
  background-color: white;
  border: #888;
  border-radius: 5px;
}

/*  OrderView */
.subTotal tfoot {
  background-color: white;
  border-radius: 14px;
}

.flex-shrink-0 img {
  border-radius: 5px;
}
/* ----------------FOOTER---------------- */
.footer {
  background: #373a47;
}

.Finput {
  height: 40px;
  border-radius: 4px;
  border: solid #f3f1f1;
  background-color: #373a47;
}

.Ftext {
  color: rgb(189, 189, 189);
}
.Fdiscription {
  font-size: 13px;
  font-weight: 100;
}
.text_span {
  font-size: 10px;
  color: rgb(189, 189, 189);
}
.QrImage {
  width: 60px;
  height: 60px;
}
.playImage {
  width: 85px;
  border-radius: 6px;
}
.SocialIcons li {
  color: #ffffff;
}
.line {
  color: #ffffff;
  width: 100%;
  size: 3;
}
.lineText {
  font-size: 14px;
  color: #959595;
}
