<%- include('../../partials/header.ejs') %>
    <div class="container-fluid p-0 min-vh-100">
        <%-include('../../partials/navbar.ejs') %>
            <div class="container ">
                <div class="row p-4">
                    <div class="container col-lg-3 col-md-3 col-12 p-3 m-0">
                        <div class="container bg-white profile_left p-5">
                            <div class="mb-4 d-flex flex-column">
                                <h6>Manage My Account</h6>
                                <a href="" class="text-decoration-none">My Profile</a>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <h6>My Orders</h6>
                                <a href="" class="text-decoration-none">My Orders</a>   
                                <a href="" class="text-decoration-none">My Return</a>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <h6>My WishList</h6>
                                <a href="" class="text-decoration-none">My WishList</a>
                            </div>
                            <div class="mb-4 d-flex flex-column">
                                <h6>My Address</h6>
                                <a href="" class="text-decoration-none  text-danger">My Address</a>
                            </div>
                        </div>
                    </div>
                    <div class="container col-lg-9 col-md-9 col-12 py-3 p-0 m-0">
                        <div class="container-fluid bg-white profile_Right p-4">
                            
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <%-include('../../partials/footer.ejs') %>